<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problemsets</title>
  <link rel="icon" href="data:;base64,=">
    <style>
     .mybutton {
          padding-left:3px;
          padding-right:3px;
          font-size: 16px;
          color:black;
          border: 1px solid black;
          margin-left:5px;
      }
    </style>

</head>
<body>
    {% if message %}
        <div style="background-color: #FF6B7B; margin-bottom: 5px;">
                <center>
                    {{ message }}
                </center>
        </div>
    {% endif %}

     <div class="container" style="display: flex; flex-flow: row;">
          <div class="container" style="width: 40%;">
                <div style="display: flex; justify-content: row; flex-flow: column;">
                    <span style="font-size: 20px;"><b>Problemsets:</b></span>
                    {% for problemset in problemsets%}
                    <div style="border: 1px solid black; margin-top: 6px;">
                        <div style="padding: 6px;">
                            <div style="display: flex; justify-content: row; flex-flow: row;">
                                <div class="problemset-image" style="display: inline-block;">
                                     <img src="data:image/png;base64, {{problemset.image}}" width="100" height="100" style="border-radius: 15%;"/>
                                </div>
                                <div class="problemset-description" style="margin-left: 10px; display: inline;" >
                                    <b>{{ problemset.title }}</b>
                                    <a class="mybutton" href="/problemset/{{problemset.id}}">Edit</a>
                                    <br/>
                                    {% if problemset.description %}
                                        {{ problemset.description }}
                                        <br/>
                                    {% endif %}
                                    <a href="/problemset/{{problemset.id}}/standings">standings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
          </div>
          <div class="container" style="display:inline-block; margin-left: 40px;">
            <span style="font-size: 20px;"><b>Actions:</b></span>
            <br/>
            <div style="display: flex; justify-content: row; margin-top:6px; flex-flow: column; border: 1px solid black; padding: 6px;">
                <a href="/users">Manage users</a>
                <a href="/problemset">Create problemset</a>
                <a href="/update_users_submissions"> Update users submissions</a>
                <a href="/update_users_info">Update users info</a>
            </div>
          </div>

    </div>
</body>
</html>